body{
  margin:0;
  height:100vh;
  font-family:Arial, sans-serif;
  background:linear-gradient(135deg,#ffd6e8,#ffe6f0);
  display:flex;
  justify-content:center;
  align-items:center;
}
.card{
  background:#fff;
  width:340px;
  padding:35px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 15px 30px rgba(0,0,0,.2);
  animation:pop .4s ease;
}
h2{margin-bottom:20px;}
button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:8px;
  background:#ff4d6d;
  color:#fff;
  font-size:16px;
  cursor:pointer;
}
button {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background: #e0e0e0;
  color: #000;
  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.02);
}

/* REMOVE ALL HIGHLIGHT */
button:focus,
button:active {
  outline: none;
  background: #e0e0e0;
}
input{
  width:100%;
  padding:10px;
  font-size:16px;
}
.progress{
  height:6px;
  background:#eee;
  border-radius:5px;
  margin-bottom:20px;
}
.progress div{
  height:100%;
  background:#ff4d6d;
}
.heart{
  position:fixed;
  bottom:-20px;
  animation:float 6s linear infinite;
}
@keyframes float{
  to{transform:translateY(-120vh);opacity:0}
}
@keyframes pop{
  from{transform:scale(.9);opacity:0}
  to{transform:scale(1);opacity:1}
}
